
body {
    background-image: url("../images/background-image.jpg");
    
}


.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    
}

.button {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    
}

#submit-btn {
    background-color: #4CAF50;
}

.inputbox {
    height: 120px;
}   

.button:hover {
    background-color: red;
}

#submit-btn:hover {
    background-color: red;

}



