
.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    
}

.button {
    width: 75px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;

}



.inputbox {
    float: right;
    
}